.review-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
}

.review-heading{
    text-align: center;
    font-weight: 700;
    width: 50%;
    background-color:  rgba(250, 235, 215, 0.39);
    margin: auto;
    color: tomato;
    border-radius: 20px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .review-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .review-heading{
        padding: 0px 5px;
    }

}