.about-container{
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

.heading-one{
    text-align: center;
    font-weight: 700;
    background-color:  rgba(250, 235, 215, 0.39);
    width: 75%;
    margin: auto;
    color: tomato;
    border-radius: 20px;
    padding: 10px;
}
.part{
    text-align: center;
    text-align: justify;
    width: 75%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.heading{
    text-align: center;
    font-weight: 700;
    background-color:  rgba(250, 235, 215, 0.39);
    width: 50%;
    margin: auto;
    color: tomato;
    border-radius: 20px;
    padding: 10px;
}