.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.product-and-review-container {
    width: 75%;
}


.product-info {
    text-align: start;
    width: 75%;
}


.product-image img {
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    background-color: rgba(250, 235, 215, 0.39);
}



.review-home-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    margin: 20px auto;
    border-radius: 20px;
}

.brand {
    color: blue;
    font-weight: 700;
}

.model span {
    color: tomato;
    font-weight: 700;
}

.user-review-text{
    text-align: center;
    font-weight: 700;
    width: 30%;
    background-color:  rgba(250, 235, 215, 0.39);
    margin: auto;
    color: tomato;
    border-radius: 20px;
    padding: 10px;
}

.see-all-button {
    background-color: tomato;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;

}

.home-card-header {
    text-align: center;
}

.demo-button-text {
    font-weight: 600;
    color: white;
}

.demo-button {
    background-color: tomato;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}

.link {
    text-decoration: none;
    color: white;
}

.see-all-button-text {
    font-weight: 500;
}

.main-text {
    text-align: justify;
}


@media only screen and (max-width: 767px) {
    .product-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    .product-image img {
        margin-top: 15px;
        width: 300px;
    }

    .product-info {
        width: 90%;
    }

    .product-and-review-container {
        width: 90%;
    }
}

@media only screen and (min-width: 768px) {
    .product-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        padding: 0px 10px;
    }

    .product-image img {
        margin-top: 15px;
        width: 500px;
    }

    .product-info {
        width: 75%;
    }

    .product-and-review-container {
        width: 75%;
    }
}

@media only screen and (min-width: 1080px) {
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        padding: 0px 10px;
    }

    .product-image img {
        margin-top: 15px;
        width: 500px;
    }

    .product-info {
        width: 75%;
    }

    .product-and-review-container {
        width: 75%;
    }
}


@media only screen and (min-width: 1200px) {
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    .product-image img {
        margin-top: 15px;
        width: 500px;
    }

    .product-info {
        width: 75%;
    }

    .product-and-review-container {
        width: 75%;
    }
}