.dashboard-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.line-chart{
    margin: auto;
}
.pie-chart{
    margin: auto;
}


@media only screen and (max-width: 600px) {
    .dashboard-container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
  }